.navbar{
    background-image: linear-gradient(#085ebbc4, #0b2e55);
    text-align: center;
}
.navbar h1{
    font-size: 3rem;
    font-weight: bolder;
    color: #fff;
    
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}  
body,
html {
    height: 90%;
}
.btn{
    color:#fff !important;
    border-radius: 40px !important;
    border: 5px solid rgb(231 234 235 / 69%) !important;
}
.btn-div{
    border: 3px solid rgb(12 44 149 / 38%);
}
.fbtn{
    background-image: linear-gradient(rgb(12 44 149 / 93%), #000);
}
.lbtn{
    background-image: linear-gradient(rgb(12 44 149), #0062cc94);
}
.form {
    box-shadow: 5px 5px 5px 5px #6c757d1c;
}
.login-header{
    background-color: #1d5087ab;
    margin:0;
    padding:2%;
}
button a:hover{
    text-decoration: none;
}
.container-login{
    align-items: center;
    justify-content: center;
    height: 100%;
}
.btn-block+.btn-block {
    margin-top: 0rem !important;
}
.home-row{
    padding-top: 7%;
    height:100%;
}
.bar {
    border-right: 2px solid #0000005e;
}
.btn-succes{
    background-image: linear-gradient(#1cc609,#115120);
    border: 3px solid #9b9c9d !important;
}
.info{
    border:3px solid #0062cc59;
    margin-right:2%;
    background-color: #cdddf0;
    border-radius: 15px;
}
.info h3 a{
    text-decoration: underline;
    color: #0d5aad;
}
thead{
    background-color: #5077a1;
    color: #fff;
}
label#\ info-label {
    background-color: #80808029;
}